DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=slbus
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
DB_MIGRATIONS_RUN=false

# Redis cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_DB=0
REDIS_TLS=false
CACHE_TTL_MS=60000
